/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    /* Estilos personalizados */
    body {
    font-family: Arial, sans-serif;
    background-color: #9c4c4c;
    }
    
    .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #e29999;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    header {
    text-align: center;
    }
    
    img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    
    }
    
    main {
    margin-top: 20px;
    }
    
    section {
    margin-bottom: 20px;
    }
    
    h1, h2 {
    color: #333;
    }
    
    ul {
    list-style-type: none;
    }
    
    footer {
    text-align: center;
    margin-top: 20px;
    }